.main-button {
  background-color: $main;
  border: none;

  @extend %button;
  @extend %button-text;
  @include hover(background-color, $hover-color);

  &:active {
    background-color: $pressed-color;
  }

  &__text {
    color: $white;
  }
}
