.person {
  position: absolute;
  display: block;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  @include on-desktop {
    left: 50%;
    margin: 0;
  }

  &--girl {
    background-image: url(../images/people/girl-from-Podolye.png);
    background-position: top center;
  }

  &--boy {
    background-image: url(../images/people/boy_menu-pic.png);
  }

  &--plan-a-visit-to-the-museum {
    background-image: url(../images/people/person--menu-pic.png);
    left: -5%;
    width: 48vw;
    min-width: 245px;
    max-width: 625px;
    overflow: visible;
  }
}
