@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/extends';
@import 'utils/container';

h1 {
  font-size: 48px;
  line-height: 100%;

  @include on-tablet {
    font-size: 72px;
  }

  @include on-desktop {
    font-size: 96px;
  }
}

h2 {
  font-size: 38px;
  line-height: 100%;

  @include on-tablet {
    font-size: 62px;
  }

  @include on-desktop {
    font-size: 80px;
  }
}

h3 {
  font-size: 28px;
  line-height: 125%;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 56px;
    line-height: 120%;
  }
}

h4 {
  font-size: 20px;
  line-height: 125%;

  @include on-tablet {
    font-size: 24px;
  }

  @include on-desktop {
    font-size: 24px;
  }
}

h5 {
  font-size: 20px;
  line-height: 150%;

  @include on-tablet {
    font-size: 20px;
  }

  @include on-desktop {
    font-size: 20px;
  }
}

h6 {
  font-size: 14px;
  line-height: 125%;

  @include on-tablet {
    font-size: 14px;
  }

  @include on-desktop {
    font-size: 14px;
  }
}
