// COLORS
$main: #cd4d31;
$white: #f1f5f4;
$background: #3f5252;
$black: #1c1b29;
$gray: #504f5e;

// SIZINGS
$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;

// EFFECTS
$hover-color: #af3419;
$pressed-color: #ea340d;
$disabled-color: #dd836f;

// FONTS
$h1-h6-font: 'Playfair Display';
$text-font: 'Raleway', sans-serif;
